

html {
    height:100%;
    min-height:100%;
    background: rgba(18,59,109, .3);
}

body,
input,
textarea {
    font-size:16px;
}

a {
    color:#1a56a1;
    text-decoration: none;
}

a:hover,
span.modalToggle:hover,
.aboutBeck .close,
.aboutBeck a:hover {
	color: #2faee4;
	cursor: pointer;
}

.page-list a:visited {
    color:#727272;
}

img {
    max-width: 100%;
    height:auto;
}

body { 
	color:#484848;
	font-family: 'ecom', Arial, Helvetica, sans-serif;
    min-height:100%;
	text-transform: uppercase;
    max-width: 1200px;
    background: #fff;
    margin: 0 auto;
}
body header,
body footer,
body main,
body>menu,
body>div {
	text-align: center;
}

@font-face {
    font-family: 'ecom';
    src: url('../fonts/economicafsReg-webfont.eot');
    src: url('../fonts/economicafsReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/economicafsReg-webfont.woff') format('woff'),
         url('../fonts/economicafsReg-webfont.ttf') format('truetype'),
         url('../fonts/economicafsReg-webfont.svg#ecom_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

header.main {
	margin:1em auto;
    z-index: 10;
}

    header.main h1 { 
        letter-spacing: 8px;
        text-align: center;
        margin:0px;
    }

    header.main > ul {
        list-style-type: none;
        margin-top: 0.75em;
    }
    header.main > ul > li {
        display: inline-block;
        position: relative;
        z-index: 20;
    }

.aboutBeck {
    display:none;
    background: #fff;
    width:220px;
    position: absolute;
    top: 28px;  
    color: #666;
    z-index: 500;
    list-style-type: none;
}

.aboutBeck a { 
    font-size: 1.25em;
    color:#444;
}
.aboutBeck li {
    margin: 1em auto;
}
.aboutBeck .pointer {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    position: absolute;
    top:-28px;
    left:44px;
}
.aboutBeck .close { font-size: .875em; }

#content {
	margin: 0 auto;
	padding: 0;
	position: relative;
    height: 100%;
}

button {
    background:#666;
    color: #fff;
    padding:0.25em .5em;
    font-size:14px;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 2px;
    font-family: 'ecom', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
    height:1.866em;
    vertical-align: middle;
    overflow: hidden;
    line-height: 1em;
    margin-bottom: .5em;
}
button:hover {
    background:#333;
}

h1 { 
	font-size:3em;
	font-weight: normal;
	margin:0px;
}
h1, h1 a { color: rgb(18,59,109); }
h2 {
	font-size: 1.5em;
	letter-spacing: 1px;
    
}
h2,h3 {
    margin: 1em 0 0;
	font-weight: normal;
}
h2 span {
    font-size: .8em;
    text-transform: none;
}

span.modalToggle {
	text-decoration: underline;
	font-size: 1em;
}

p { margin:1em 0; }

nav {
	overflow: hidden;
	display: block;
}

nav ul li,
ul.social li {
	display: inline-block;
    padding: 0 0.5em;
}
nav ul li {
    border-left: 1px solid #fff;
}
nav ul li:first-child {
    border-left: none;
}
nav>ul {
	display: inline-block;
	margin: 0;
}
nav.main {
    background: rgba(18,59,109,.1);
    margin-bottom: 1em;
    line-height: 1.75em;
}
nav ul.site {
    float: left;
}
nav ul.read {
    float: right;
}

img.main {
    display: block;
    margin: 0 auto;
}


/*
nav.social { text-align: center; }
nav.social a {
	text-indent:-9999px;
	width:24px;
	height:24px;
	display: inline-block;
	background: url(images/site/sprites.png) no-repeat;
}

nav.social li {
	margin:0 0.25em;
}
nav.social .rss a { background-position: 0 0; }
nav.social .twitter a { background-position: -35px 0; }
nav.social .tumblr a { background-position: -70px 0; }
nav.social .rss a:hover { background-position: 0 -35px; }
nav.social .twitter a:hover { background-position: -35px -35px; }
nav.social .tumblr a:hover { background-position: -70px -35px; }
*/

.page-nav {
    list-style-type: none;
    display: block;
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
}

.page-nav a span {    
    font-size: 2em;
}
.page-nav li {
    display: inline-block;
    line-height: 2em;
}
.page-nav>li {
    width: 33%;
    vertical-align: top;
}

.page-nav ul li {
    display: inline-block;
    padding: 0 0.5em;
    vertical-align: baseline;
}
.page-nav ul li:first-child {
    border-left: none;
}

.page-nav li.prev-links {
    text-align: left;
}
.page-nav li.prev-links a {
    margin-right:1em;
}
.page-nav li.next-links {
    text-align: right;
}
.page-nav li.next-links a {
    margin-left: 1em;
}
.page-nav .cur-page {
    line-height: 2.2em;
    font-size: .8em;
}
.page-nav .cur-page span {
    white-space: nowrap;
}

main{
    box-sizing: border-box;
    margin:1em auto;
    width:75%;
    max-width: 1000px;
    padding: 1em;
    border-radius: 3px;
    line-height: 1.35em;
    position: relative;
    z-index: 1;
    min-height:50%;
}
main a, #main-panel a {
    text-decoration: underline;
}

#main-panel header {
    width: 100%;
}

#main-panel h1 {
    font-size: 1.75em;
    margin-top:1em;
}

#main-panel.all-text {
    text-align: left;
}

#main-panel p,
#main-panel dl {
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: .5em 0;
}

#main-panel section {
    margin:1em 0 0;
    padding: 1em 0 0;
    border-top: 1px solid #666;
}

#main-panel ul.page-list {
    list-style-type: none;
    margin: 1em 0;
}

#main-panel ul.page-list:after {
    content: " ";
    clear: both;
    display: block;
}

#main-panel ul.page-list li {
    width: 33%;
    display: block;
    float: left;
    position: relative;
    margin-bottom: 1em;
}

#main-panel ul.page-list li img {
    max-width: 100%;
}

#main-panel p.post-date {
    font-size: 11px;
}


.has-tiles {
    max-width: 1000px;
    margin: 0 auto;
}

.tile {
    display: block;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: left top;
    text-align: right;
    padding: 1em 1em 1em 4.5em;
    font-family: 'ecom', Arial, Helvetica, sans-serif;
    color: #345580;
    font-size: 2em;
    box-sizing: border-box;
    margin: .5em auto;
    max-width:600px;
}

.tile span {
    font-size: .688em;
    display: block;
    word-wrap: none;
}

.tile.mostRecent {
    background-image: url(images/site/tiles_mostRecent.png);
}
.tile.part1 {
    background-image: url(images/site/tiles_part1.png);
}

#foot {
    margin: 1em 0 0;
    padding: 0 0 1em;
    background: rgba(18,59,109,.1);
    bottom: 0;
    position: relative;
    clear: both;
    width: 100%;
}

#foot nav.main {
    border-bottom: 1px solid #fff;
    background: none;
}
#foot nav ul.site {
    border-bottom: 1px solid #fff;
}
#foot nav ul.site,
#foot nav ul.read {
    float: none;
    text-align: center;
    display: block;
}


@media screen and (max-width:1023px) and (min-width:630px) {
    #main-panel {
        width:90%;
    }
    #main-panel ul.page-list li {
        width: 33%;
    }
}

@media screen and (max-width:629px) and (min-width:0px) {
    
    #main-panel {
        width:100%;
    }

    .has-tiles {
        padding: 0;
        margin: 0;
    }

    .tile {
        background-position: -20px 0;
        padding-right: 0.5em;
        margin: 0 0 1em;
    }

    #main-panel ul.page-list li {
        width: 100%;
    }
    nav ul.site,
    nav ul.read {
        float: none;
        text-align: center;
        width: 100%;
    }

    .page-nav ul li {
        display: block;
        padding: 0.5em;
        border-left: none;
    }
    
}
